@font-face {
    font-family: outfit;
    src: url("https://fonts.google.com/specimen/Outfit");
}

:root{
    font-size: 5px;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    overflow: hidden;
    overflow-y: scroll;
    font-size: 16px;
}

.qr-component {
    display: flex;
    flex-direction: column;
    justify-content: start; 
    width: min-content;
    height: min-content;
    padding: 2rem;
    border-radius: 2rem;
    overflow:none;
    background-color: hsl(0, 0%, 100%);
}

.qr-component > * + * {
    margin-top: 2rem;
}


img {
    display: block;
    width: 15vw;
    aspect-ratio: 1;
    border-radius: 2rem;
    }

#content > * {
    display: block;
    text-align: center;
    font-family: outfit;
    font-size: 3.5rem;
    padding: 0rem 2rem;
    margin: 2rem 0rem;
}

#content :first-child{
    font-weight: 700;
}

#content :last-child {
    font-size: 2.5rem;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
}