@font-face {
    font-family: outfit;
    src: url("https://fonts.google.com/specimen/Outfit");
}

:root{
    font-size: 5px;
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    overflow: hidden;
    overflow-y: scroll;
    font-size: 2rem;
}

.qr-component {
    display: flex;
    flex-direction: column;
    justify-content: start; 
    width: min-content;
    height: min-content;
    padding: 2rem;
    border-radius: 2rem;
    overflow:none;
    background-color: hsl(0, 0%, 100%);
}

.qr-component > * + * {
    margin-top: 2rem;
}


img {
    display: block;
    width: 15vw;
    aspect-ratio: 1;
    border-radius: 2rem;
    }

.text-container > * {
    display: block;
    text-align: center;
    font-family: outfit, sans-serif;
    font-size: 4.6rem;/*23px*/
    padding: 0rem 2rem;
    margin: 2rem 0rem;
}

.text-container  :first-child{
    font-weight: 700;
}

.text-container  :last-child {
    font-size: 3rem;
    color: hsl(216, 15%, 48%);
}